.App {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.routeWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.searchLink {
    color: ghostwhite;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.fa {
    float: left;
}

.App-header {
    background-color: #222222;
    height: 20px;
    padding: 15px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.drawerIsOn {
    width: 260px;
    min-height: 100%;
    background: #050505;
    -webkit-transition: width 1s;
    transition: width 1s;
}

.drawerIsOff {
    width: 0;
    min-height: 100%;
    background: #050505;
    -webkit-transition: width 1s;
    transition: width 1s;
}

.MapDrawerIsOn {
    width: calc(100% - 260px);
    min-height: 100%;

    -webkit-transition: width 1s;
    transition: width 1s;
}

.MapDrawerIsOff {
    width: 100%;
    min-height: 100%;

    -webkit-transition: width 1s;
    transition: width 1s;
}

.drawer {
    min-height: 100%;
}

.drawerWrapper {
    padding: 20px 10px 15px 10px;
}

.inputWrapper {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.search-location {
    width: 100%;
    padding: 5px;
}

.locationsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    overflow: auto;
    display: block;
    justify-content: left;
    flex-wrap: wrap;
}

.locationsList li {
    cursor: pointer;
    font-size: 0.9em;
    padding: 5px 10px;
    text-align: left;
}

.location {
    margin: 0;
    padding: 0;
    background-color: #050505;
    border: none;
    color: aliceblue;
    text-align: left;
}
